#header{
    background-color: rgb(242, 242, 242);
}
#menu{
    background-color:rgb(252, 247, 247);
    width: 25%;
    margin: 0 2.5%;
    float: left;
}
#main{
    background-color: rgb(236, 238, 245);
    width: 67.5%;
    margin: 0 2.5% 0 0;
    float: left;
}
#footer{
    clear: left;
    background-color: cadetblue;
    padding-left: 15px;
}
.menulist{
    background-color:rgb(0, 0, 0);
    font-weight: bold;
    margin: 1% 9%;
    color: chartreuse;
}

p#title{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
p#abtract{
    font-style: italic;
    text-align: justify;
    padding: 0 5%;
}

p{
    padding: 0 5%;
    text-align: justify;
}
img{
    width: 50%;
    margin: 1% 5%;
}
a{
    color:blue;
    text-decoration: none;
}
a:hover{
    color: cadetblue;
}

a.menu{
    color:chartreuse;
}

table#userRegistration{
    margin: auto;
    width: 70%;
    background-color: rgb(151, 151, 136);
    padding: 0.5%;
}

th#userTH{
    background-color: rgb(190, 118, 31);
    color: blue;
    font-weight: bold;
}

tr#userRegistration{
    text-align: center;
}

td.tbDetail{
    padding-left: 1%;
}

table#tbLogin{
    margin: auto;
    width: 40%;
    background-color: beige;
    border-radius: 1%;
    padding: 0.5%;
}

th#thAddProduct{
    text-align: center;
    font-size: large;
    color: blue;
    background-color: rgb(254, 255, 253);
}

td#btnAddProduct{
    text-align: center;
    padding-top: 2%;
}
